.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.map{
  height: 100%;
}
/*#floating-panel {
  position: absolute;
  top: 375px;
  right: 130px;
  z-index: 5;
  background-color:blue;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
*/